<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索フォーム</title>
</head>
<body>
	<div th:insert="header :: headerFragment"></div>

	<form action="/All" method="post" onsubmit="return validateForm()">  
	    <input type="text" name="userc" id="userc" th:value="${userc}"><br>
	    <input type="submit" value="検索する">
	    <p th:if="${msg}" th:text="${msg}" style="color:red;"></p>
	</form>

	<!-- msgがある場合のみ alert を表示 -->
	<script th:if="${msg != null}" th:inline="javascript">
	/*<![CDATA[*/
	    alert("[[${msg}]]");
	/*]]>*/
	</script>

	<script>
	function validateForm() {
	    const userc = document.getElementById("userc").value.trim();
	    if (userc === "") {
	        alert("検索する内容を入力してください");
	        return false;
	    }
	    return true;
	}
	</script>


</body>
</html>
