<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/insert" method="post">  
	    社員ID：<input type="text" name="id"><br>
	    社員名：<input type="text" name="name"><br>
		年齢：<input type="text" name="age"><br>
		パスワード：<input type="text" name="password"><br>
	    パスワード確：<input type="password" name="password"><br>
		開始日：<input type="date" name="startDate"><br>
		終了日：<input type="date" name="endDate"><br>
	
	    <input type="submit" value="削除する">
	    <p th:if="${msg}" th:text="${msg}" style="color:red;"></p>
	</form>

	</form>
</body>
</html>
