<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>削除</title>
  <link rel="stylesheet" href="style.css">
  <link th:href="@{/style/tymleaf.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="header :: headerFragment"></div>
	<h1>社員情報削除</h1>
	<form action="/kensakuform" method="post" onsubmit="return validateForm()">
	    ID<input type="text" name="id" id="id" th:value="${inputId}" />
	    <button type="submit">検索</button>

	    </div>
	</form>


	<a href="/fourth"><button>戻る</button></a>
	
	<div th:insert="footer :: footerFragment"></div>
	
	
		<script th:inline="javascript">
	    
		
		
	    function validateForm() {
	      var id = document.getElementById("id").value; 

	      if (id === "") {
	        alert("IDを入力してください"); 
	        return false; 
	      }

	      
	      if (isNaN(id)) {
	        alert("IDは半角数字で入力してください");
	        return false;
	      }

	      
	      var msg = document.querySelector("[data-msg]").getAttribute("data-msg"); 
	      if (msg !== "") {
	        alert(msg); 
	        return false;
	      }

	      return true; 
	    }
		
		let msg = /*[[${msg}]]*/ "";
		  if (msg !== null && msg !== "") {
		    alert(msg);
		  }		
				
	  </script>
	</body>
	</html>
