<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
<link th:href="@{/style/tymleaf.css}" rel="stylesheet">

</head>
	<body>
		<div th:insert="header :: headerFragment"></div>
			<h1>トップメニュー</h1>
			<div class=line></div>
			</header>
	


	<div class ="container">
    <div class="item"><a href ="sixth">社員情報検索</a></div>
	<div class="item"><a href ="second">社員情報削除</a></div>
	<div class="item"><a href ="http://localhost:8080/insert">社員情報登録</a></div>
	<div class="item"><a href ="seventh">社員情報更新</a></div>
	</div>

	
	
	
	<div th:insert="footer :: footerFragment"></div>



</body>
</html>