<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="sendlogin.css">
<title>Send001</title>
</head>
<body>
	
	<table th:if="${userc} != null" border="1">
			<tr>
				<th>ユーザーID</th>
				<th>パスワード</th>
			</tr>
			<tr th:each="userc: ${usercs}">
				<td th:text="${userc.id}"></td>
				<td th:text="${userc.password}"></td>
			</tr>
		</table>
		<div th:if="${usercs} == null">
			レコードがありません
			
			<p><span th:text="${#dates.format(#dates.createNow(),'yyyy-MM-dd HH:mm:ss')}"></span></p>
</body>
</html>